<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entry</key>
	<dict>
		<key>cell</key>
			<string>PSLinkCell</string>
			<key>icon</key>
			<string>theiostream_hates_himself.png</string>
			<key>label</key>
			<string>MessageShower</string>
		</dict>
	
	<key>items</key>
		<array>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Alert Settings</string>
			</dict>
			
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>defaults</key>
				<string>am.theiostre.messageshowersettings</string>
				<key>key</key>
				<string>AppStartTitle</string>
				<key>label</key>
				<string>Title</string>
				<key>PostNotification</key>
				<string>am.theiostre.messageshower.updated</string>
			</dict>
			
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>defaults</key>
				<string>am.theiostre.messageshowersettings</string>
				<key>key</key>
				<string>AppStartMessage</string>
				<key>label</key>
				<string>Message</string>
				<key>PostNotification</key>
				<string>am.theiostre.messageshower.updated</string>
			</dict>
			
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Open Icon</string>
				<key>footerText</key>
				<string>This setting allows the user to trigger or not a MessageShower message once an app is launched.</string>
			</dict>
			
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<true/>
				<key>defaults</key>
				<string>am.theiostre.messageshowersettings</string>
				<key>key</key>
				<string>AppStart</string>
				<key>label</key>
				<string>Enabled</string>
				<key>PostNotification</key>
				<string>am.theiostre.messageshower.updated</string>
			</dict>
			
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Message</string>
				<key>footerText</key>
				<string>Set the message to be showed once an icon is opened.</string>
			</dict>
			
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Activator</string>
				<key>footerText</key>
				<string>This setting allows the user to choose one Activator method to trigger MessageShower.</string>
			</dict>
			
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<true/>
				<key>defaults</key>
				<string>am.theiostre.messageshowersettings</string>
				<key>key</key>
				<string>ActivatorEnabled</string>
				<key>label</key>
				<string>Enabled</string>
				<key>PostNotification</key>
				<string>am.theiostre.messageshower.updated</string>
			</dict>
			
			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>label</key>
				<string>Activation Methods</string>
				<key>isController</key>
				<true/>
				<key>bundle</key>
				<string>LibActivator</string>
				<key>activatorListener</key>
				<string>am.theiostre.messageshower</string>
			</dict>
		</array>
	<key>title</key>
	<string>MessageShower</string>
</dict>
</plist>
